body {
    background-color: burlywood;
    text-align: center;
    color: black;
}

.in {
    background-color: cornflowerblue;
    margin: 0em;
}

.bo {
    background-color: cyan;
    font-size: 30px;
}